[exacomp=items] {
    margin: 0;
    padding: 0;
}
[exacomp=items] li {
	display: block;
    list-style-type: none;
    cursor: move;
    background-color: #efefef;
    margin: 0 0 5px 0;
    padding: 5px 20px;
}
[exacomp=items] li * {
    margin: 0;
}
[exacomp=items] li [exacomp=delete-button] {
    margin-left: 10px;
    cursor: pointer;
}
[exacomp=items] li [exacomp=delete-button]:hover {
    text-decoration: underline;
}
