
.exastud-template-settings-group {
    font-size: small;
}

/* show hidden labels */
.exastud-template-settings-group .col-form-label {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
}

.exastud-template-settings-param {
    margin-right: 15px;
}

/* show hidden labels - another moodle template */
.exastud-template-settings-group .accesshide {
    position: relative;
    left: 0px;
    width: auto;
    height: auto;
    overflow: visible;
    margin-left: 15px;
    margin-right: 5px;
}

/* change additional parameters */
.exastud-template-settings-group .form-control {
    font-size: 0.75rem;
}

.exastud-template-settings-group.type-settings {
    font-size: 0.75rem;
}

.exastud-template-settings-group.type-settings label {
    margin-right: 15px;
}

.exastud-additional-params-block.hidden {
    display: none;
}

.add_selectbox_option,
.delete_selectbox_option {
    cursor: pointer;
    margin-left: 7px;
}

.delete_param_button {
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 10000;
}

.block_hover {
    background-color: #fff1f1;
}

.exastud-additional-params-shortlist {
    list-style: none;
}

.exastud-additional-text {
    display: block;
    color: red;
    font-size: 0.75em;
}

.exa_table .exastud-hidden-report {
    color: #a8a8a8;
}

.exa_table .info-icon {
    float: right;
}