#review-table td, #review-table th {
	border: 1px solid #999;
	padding: 5px;
}

#review-table td.evaluation {
	text-align: center;
	min-width: 30px;
}
#review-table th.evaluation-header {
	text-align: center;
}

#ratingtable {
	width: 100%;
}
#ratingtable td {
	border: 1px solid #999;
	padding: 5px;
	vertical-align: top;
}

#ratingtable .ratinguser {
	width: 25%;
}
