#exabis_student_review table.esr_table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

#exabis_student_review table.esr_table thead th {
	background-color: #E6E6E6;
	font-size: 0.9rem;
}

#exabis_student_review table.esr_table thead th,#exabis_student_review table.esr_table td
	{
	border: 1px solid #CACACA;
	border-collapse: collapse;
	padding: 0.5rem;
	vertical-align: top;
}

#exabis_student_review .esr_table_clean {
	border: 0;
	background-color: transparent;
}

#exabis_student_review .esr_table_clean td {
	padding: 5px 15px 5px 0;
}

#exabis_student_review table.esr_table td {
	vertical-align: middle;
}

#exabis_student_review table.esr_table tr:nth-child(2n+2) {
	background-color: #F9F9F9;
}
#exabis_student_review table.esr_table tr:nth-child(2n+1) {
	background-color: #FFFFFF;
}

#exabis_student_review .est_table_userimg img {
	width: 60px
}

#exabis_student_review .est_table_userimg {
	width: 60px;
}

#exabis_student_review .esr_pushcenter {
	text-align: center;
}

#exabis_student_review .esr_pushright {
	text-align: right;
}

#exabis_student_review .esr_tableedit {
	text-align: center;
	width: 45px
}

#exabis_student_review h2 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1.2rem;
	text-align: left;
}

#exabis_student_review .esr_subtitle {
	margin-bottom: 1.2rem;
}

#exabis_student_review .ers_inlineicon {
	margin-left: 10px;
}

#exabis_student_review .esr_pflichtfeld {
	color: red;
}

#exabis_student_review .esr_input {
	min-width: 250px;
}